%tr{id: '{{id}}', data: {element: 'item'}}
  %td{data: {type: 'id'}}
    {{id}}
  %td{data: {type: 'user_name'}}
    {{user_name}}
  %td{data: {type: 'email'}}
    {{email}}
  %td{data: {type: 'first_name'}}
    {{first_name}}
  %td{data: {type: 'last_name'}}
    {{last_name}}
  %td{data: {type: 'role_names'}}
    {{role_names}}
