.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{'data-toggle' => 'collapse',
        'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{href: '/'} User Manage
      .nav-collapse.collapse{style: 'height: 0px;'}
        %ul.nav
          %li.active
            %a{href: '/'} Home
          %li
            %a{href: '/users'} Manage Users
          %li
            - if user_signed_in?
              =link_to 'Logout', destroy_user_session_path, method: 'delete'
            - else
              = link_to 'Login', new_user_session_path
          %li
            - if user_signed_in?
              = link_to 'Edit account', edit_user_registration_path
              - if current_user.has_role? :admin
                = link_to 'Admin', users_path
            - else
              = link_to 'Sign up', new_user_registration_path
